* {
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    height: 95%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  p {
    flex: none;
    text-align: left;
    line-height: 150%;
    padding: 5px;
    margin-bottom: 1em;
    font-family: sans-serif;
  }
  
  body div {
    flex: 1;
  }
  
  canvas {
   border: 1px dotted grey;
  }
  